{% extends "main_menu.html" %}
{% block title %} Documentation- {% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}
<div id="container">
  <div class="title">
    <h4>Postgres Documentation</h4>
  </div>
  <div class="document">
    <h2>Postgres Notes</h2>
    If you want to tune your database you can change almost all of the configuration settings in
    postgresql.conf via ALTER SYSTEM commands (e.g., ALTER SYSTEM SET max_connections=100)
    After making any changes, you must restart the database server through the "Restart DB Service"
    link. </p>

    <h2>Users</h2>
    Use psql to connect to the database via the following command: <p>
    <code>psql -h mydb -u <i>username</i> --port <i>portnum database </code></i>
    <p>
    The port number is provided when you first create the database instance.
    You can issue any psql command from here, including create role, grant, create database, alter system.
    Your database account has superuser rights on your database instance. We do not recommend 
    that you use your login account or password for database accounts. 

    You can keep your database credentials for Postgres databaes in your home directory.
    Create a file named <kbd>.pgpass</kbd> with permissions of 
    <kbd>chmod 0600 .pgpass</kbd>  You can store credentials for multiple
    databases in the file, one entry per line.  Comments are not allowed.  The file format for .pgpass is:

    <code> hostname:port:database:username:password </code>

    <h2>From Linux</h2>
    From Linux load a PostgreSQL Module to have access to psql and other PostgreSQL commands.
    This loads the entire postgres code base, so other postgres commands (e.g., pg_dump) 
    are also loaded. 
    <code>module load PostgreSQL/17.5-GCCcore-14.2.0</code>
    <p>

    <h2>Postgres Commands</h2>
    <pre><code>create user jdoe;
CREATE DATABASE mybase WITH OWNER jdoe;
grant all privileges on database mybase to myotheruser;
ALTER USER myotheruser WITH PASSWORD 'MyPassword';
delete database: drop database mybase;
change db owner: alter database mybase owner to myotheruser;
load psql with database or template: psql template1
\l   list databases
\dt  list tables
\du  list users
\d+  table name  (show table fields)
\c   connect to different DB or show current connection
select current_database();
\q   disconnect

select datname from pg_database;

# Show scheme when users do not create a seperate db from `postgres`
SELECT table_name FROM information_schema.tables
WHERE table_type = 'BASE TABLE'
AND table_schema NOT IN ('pg_catalog', 'information_schema');</code></pre>


    
  </div> <!-- end class document -->
</div> <!-- end id container -->
    {% endblock %}
  </body>
</html>

