{% extends "layout.html" %}
{% block title %} Documentation- {% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}
<div id="container">
  <div class="title">
    <h4>Documentation</h4>
  </div>
  <div class="document">
    <h2>Overview</h2>
    <p>
    DBaaS allows {{organizationName}} faculty and staff to create stand
    alone database instances. The database instances are created in docker containers 
    on a shared server managed by {{supportOrganization}}. You will not have direct access to the file
    system but you will have superuser permissions to the database instance.
    <b>Current support for these database servers is minimal. </b>
    Your databases are backed up daily, so in the event of a restore, you may lose up to 24 hours of data. 
    </p>

    <h2> Creating a database instance</h2>
    <p>
    A dropdown will appear when you hover over <b>"Create DB Container"</b> from the main
    DBaas page. The dropdown shows the different database engines that are available.
    Select one by clicking on its name.
    Within each create screen you will have the option to select a particular version of the
    database. New database engines and updated versions will be made available.

    In the web form we have provided default/recommended values where possible.
    These defaults can be altered in the form but at this time:
    </p>
    <ul>
        <li> Only basic support level is provided
        <li> Support is available only during business hours
        <li> Point in time recovery is not supported
        <li> Backups are done nightly
        <li> Offsite backups are purged after {{ backup_purge_period }} days
    </ul>
    <p>
    If you have questions about database configuration options and defaults,
    contact {{supportOrganization}}.

    <p>
    The <b>Create DB Service</b> form prompts for a <b>Docker Service Name</b> and <b>Database Name</b>.
    The <b>Database Name</b> will be the actual name of the database of the DBengine you select.
    The <b>Docker Service Name</b> must be unique and is used to name the Docker service object.
    This allows developers to have two containers with the same database name for production
    and development.

    <p>
    The <b>Database Username</b> will be the login user name for connecting to the database. It
    defaults to your user name, but it can be changed. The <b>Database Username</b> will have full
    administrative rights to the database, so additional accounts can be created if needed.

    <b>"DB password"</b> are used to create a database account which will have root privileges for the DB.
    It is strongly recommended that you do not use your {{organizationName}} password for the database
    account. 

    A secondary root account is created by {{supportOrganization}} for the purpose of performing backups.

    <h2> Backups </h2>
    Backups are performed after hours nightly if you select the <b>Daily</b> or <b>Weekly</b>
    backup option.
    All backups are written to Amazon S3. You can list your offsite backups from the main menu with
    <b>"List S3 Backups"</b>. Database owners can create their own backups using native methods to the
    backup engine, or using the <b>"Backup DB Now"</b> command from the <b>Manage Services</b> menu.

    <h2> Deleting existing container </h2>
    <p>
    The <b>Manage Services</b> menu has a <b>Delete Service</b> function.
    This will remove the docker container where the database runs, and its associated storage and
    configuration information. If backups were created they will age with the purge period and
    will eventually be gone.
    <b>Delete Service</b> requires proper database credentials, you will be prompted for
    username and password. 

    <h2> Additional functionality or bugs </h2>
    <p>
    Please report any bugs or submit requests for additional functionality by contacting {{ supportEmail }}.
  </div>
</div>
{% endblock %}
