{% extends "main_menu.html" %}
{% block title %} Select Item {% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}
<div id="container">
  <div class="title">
    <h4>{{ title }}</h4>
  </div>
  <div id="content">
    <form method="GET", action="{{ url_for('selected') }}">
      <br>
      <br>
      <label for="container">{{ header if header else "Select an item" }}</label>
      <input type="text" list="item_list" name="container_name" placeholder="{{ placeholder if placeholder else 'Select from list' }}">
      <datalist id="item_list">
        {% for o in items %}
        <option value="{{ o }}">
        {% endfor %}
      </datalist><br>
      <input type="hidden", name="dbaction", value="{{ dbaction }}">
      <p><button type="submit">Submit</button></p>
    </form>
  </div id="content">
</div>

{% endblock %}
